/terramaster.properties
/*.log.*
/nameservers.bin
/.settings/
/bin/
/target/
/.classpath
/.project
/.pydevproject
/_nameservers.bin
/.idea
/LIB
.vscode/settings.json
/nbactions.xml
/nb-configuration.xml
/.vscode/
